{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="{{ path('homepage') }}" class="site_title"><i class="fa fa-paw"></i> <span>Apicéa TEST</span></a>
                    </div>

                    <div class="clearfix"></div>


                    <br/>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="{{ path('homepage') }}">
                                        <i class="fa fa-home"></i> Accueil
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('patients') }}">
                                        <i class="fa fa-users"></i> Patients
                                        <span class="label label-success pull-right ">{{ render(controller('AppBundle:Default:countPatiens')) }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('medecins') }}">
                                        <i class="fa fa-user-md"></i> Médecins
                                        <span class="label label-success pull-right ">{{ render(controller('AppBundle:Default:countMedecins')) }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>


                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>{% block title %}Home page{% endblock title %}</h2>

                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    {% block content %}
                                        <a href="{{ path('traitement_fichier') }}" class="btn btn-info">
                                            <i class="fa fa-cogs"></i> Traitement Fichiers
                                        </a>

                                        <br><br>

                                        {% if nbEnregistrements is defined %}
                                            <h4>Résultat du traitement : </h4>
                                            {{ (nbEnregistrements.patients is not null) ? nbEnregistrements.patients | length : 0 }} Patient(s) enregistré(s)

                                            <br>

                                            {{ (nbEnregistrements.medecins is not null) ? nbEnregistrements.medecins | length : 0 }} Medecin(s) enregistré(s)
                                        {% endif %}
                                    {% endblock content %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
